<footer class="site-footer" style="padding:15px 0">

  <div class="wrapper">

    
    <div class="footer-col-wrapper">   
      <div class="footer-col footer-col-1">  
         <span>&nbsp;</span>
      </div>  
      <div class="footer-col footer-col-1" style="text-align:center">
        {% if site.github_username %}
          <li style="list-style:none">
            {% include icon-github.html username=site.github_username %}
          </li>
        {% endif %}
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
